.home-title {
    // margin-top: 20vh;
    // margin-bottom: 20vh;
  
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 10px black;
    font-family: 'Montserrat', sans-serif;;
    /* min-height: 550px;  */
  }
.parallax {
  /* The image used */
  background-image: url("../../assets/images/welcome.jpg");
  height: 420px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
  border: 5px double rgba(255, 255, 255, 0.582);
  // line-height: 60vh;
}


@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.text {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  //   line-height: 60vh;
    text-shadow: 2px 2px 10px black;
  font-family: "Montserrat", "sans-serif";
  /* min-height: 550px;  */
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

/* animation styles */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fadeInClass {
  animation-name: fadeIn;
  animation-duration: 3s;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
