<html>

<body [ngStyle]="{'background-image': 'url(../assets/images/swingjauh3.jpg)', 'background-size': 'cover'}">

  <div
    class="d-flex justify-content-start justify-content-sm-start justify-content-md-center align-items-start align-items-sm-start align-items-md-center"
    style="height:100px;">
    <div><a (click)="menuOnClick('')"><img src="../assets/images/logo.png" width="250" alt="" /></a></div>

  </div>
  <nav class="top-right" [ngClass]="{
      'open': isOpen
    }">
    <a class="disc l2" (click)="menuOnClick('promotion')">
      <div>Promotion</div>
    </a>
    <a class="disc l3" (click)="menuOnClick('address')">
      <div>Address</div>
    </a>
    <a class="disc l4" (click)="menuOnClick('contact')">
      <div>Contact Us</div>
    </a>
    <a class="disc l5 toggle" (click)="toggleMenu()">
      {{toggleText}}
    </a>
  </nav>
  <div *ngIf="showHome">
    <app-home></app-home>
  </div>

  <router-outlet></router-outlet>

  <br><br>
  <div class="text-add text-center">
    Find us at<br>
  </div>
  <div class="text text-center">
    <a href="https://g.page/sky-swing-bali?share">
      Jalan Dewi Saraswati No.9, Br. Karang Dalem 1,
      <br> Bongkasa Pertiwi, Badung Utara
    </a>
  </div>
  <br><br>


  <br><br>
  <div class="contact-footer">
    <div class="text-add text-center">
      Contact us
      <br>
    </div>
    <div class="d-none d-sm-block"><br></div>
    <div class="text text-center">
      <a href="https://www.instagram.com/skyswingbali/">
        <img height="45" src="../assets/images/instagram-white.png">


        <div class="d-none d-sm-block">
          @skyswingbali
          <br><br>
        </div>
      </a>
      <a 
        href="https://wa.me/62811364930/?text=Hello%2C%20there%20I%20would%20like%20to%20know%20more%20about%20the%20attractions%20at%20Sky%20Swing%20Bali%21">
        <img height="45" src="../assets/images/whatsapp-white.png">

        <div class="d-none d-sm-block">
          +62 811-364-930
          <br><br>
        </div>
      </a>

      <a href="mailto:carmelspring@gmail.com target="_top">
        <img height="50" src="../assets/images/mail.png">
        <div class="d-none d-sm-block">
          carmelspring@gmail.com
        </div>
      </a>
    </div>

  </div>
  <br><br> <br><br>
  <br><br>

  <div class="d-block d-sm-none">


    <div class="row brighten ">

      <div class="footer pull-right" style="">
        <div class="col-1 pl-2 ">
          &nbsp;
          &nbsp;
          &nbsp;

        </div>
        <div class="col-2 d-none d-sm-block">

        </div>
        <div class="col-3 ml-0">
          <a href="https://wa.me/62811364930/?text=Hello%2C%20there%20I%20would%20like%20to%20know%20more%20about%20the%20attractions%20at%20Sky%20Swing%20Bali%21"
            target="_blank">


            <div class="speech-bubble" style="font-size: 13px">
              &nbsp;
              <img height="50" src="../assets/images/whatsapp.png">

              Message us &nbsp;
              <br>


            </div>
          </a>

        </div>
      </div>

    </div>
  </div>


  <!-- </div> -->
  <div class="text-center copyright">©2019 BY CLARISSA POEDJIONO.</div>
</body>

</html>