<div class="container-fluid home-title">
  <!-- <h1>{{prodName}}</h1> -->
 <br>
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-6 col-md-6" *ngFor="let item of items">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="col">
          {{item}}
          <div height="100" width="100">
            <div *ngFor="let path of imgPaths[item]" class="carousel-inner">
              <div class="carousel-item" [class.active]="checkedList[item][path]">
                <img class="d-block w-100" src="../assets/images/{{prodName}}/{{item}}/{{path}}.jpg" alt='item'>
              </div>
            </div>
            <a class="carousel-control-prev" role="button" data-slide="prev" (click)=prevImage(item)>
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-slide="next" (click)=nextImage(item)>
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="row">
            <div class="col">
              <p class="text">{{captions[item]}}</p>
            </div>

          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <p><br></p>
  </div>


<!-- 
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-6 col-md-6" *ngFor="let item of items">
      <div class="row">
        <div class="col">
          {{item}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">

              <div class="carousel">
                <input *ngFor="let path of imgPaths[item]" (click)="navOnClick(item,path)" type="radio"
                  id="carousel-{{item}}-{{path}}" name="carousel[]" [checked]="checkedList[item][path]">
                {{checkedList[item][path]}}
                <ul class="carousel__items">
                  <li class="carousel__item" *ngFor="let path of imgPaths[item]">
                    <img src="../assets/images/{{prodName}}/{{item}}/{{path}}.jpg">
                  </li>
                </ul>

                <div class="carousel__nav">
                  <label *ngFor="let path of imgPaths[item]" for="carousel-{{item}}-{{path}}"
                    (click)="navOnClick(item, path)"></label>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text">{{captions[item]}}</p>
            </div>

          </div>

        </div> -->


        <!-- <div class="col">
        <p class="text">{{captions[item]}}</p>
      </div> -->
      <!-- </div>
      <div class="row">
        <br>
      </div>


    </div>
  </div> -->

  <!-- <div class="carousel">
    <input type="radio" id="carousel-1" name="carousel[]" checked>
    <input type="radio" id="carousel-2" name="carousel[]">
    <input type="radio" id="carousel-3" name="carousel[]">
    <input type="radio" id="carousel-4" name="carousel[]">
    <input type="radio" id="carousel-5" name="carousel[]">
    <ul class="carousel__items">
      <li class="carousel__item"><img
          src="//lh5.googleusercontent.com/-cTEgPOnd3l8/U8-EmaZ4KNI/AAAAAAAABc8/6eacbALkQ6A/w1358-h905-no/carousel-1.JPG"
          alt=""></li>
      <li class="carousel__item"><img
          src="//lh4.googleusercontent.com/-ntVHbbWX5eo/U8-EmV8P4cI/AAAAAAAABc4/ICYBGkcztTc/w1358-h905-no/carousel-2.jpg"
          alt=""></li>
      <li class="carousel__item"><img
          src="//lh5.googleusercontent.com/-batEXUZE_e4/U8-EmLF9-hI/AAAAAAAABc0/J3tJVUa6Buk/w1358-h905-no/carousel-3.jpg"
          alt=""></li>
      <li class="carousel__item"><img
          src="//lh5.googleusercontent.com/-gywqIeMvel0/U8-EolKdtkI/AAAAAAAABdM/G0-NHuvvJUU/w1358-h905-no/carousel-4.jpg"
          alt=""></li>
      <li class="carousel__item"><img
          src="//lh5.googleusercontent.com/--2iANjL3ikc/U8-EoGJ18mI/AAAAAAAABdI/fBe-q3Gos6Y/w1358-h905-no/carousel-5.jpg"
          alt=""></li>
    </ul>
    <div class="carousel__prev">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
      <label for="carousel-4"></label>
      <label for="carousel-5"></label>
    </div>
    <div class="carousel__next">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
      <label for="carousel-4"></label>
      <label for="carousel-5"></label>
    </div>
    <div class="carousel__nav">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
      <label for="carousel-4"></label>
      <label for="carousel-5"></label>
    </div>
  </div> -->
</div>