@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.parallax {
  /* The image used */
  //   background-image: url("src/assets/images/IMG_3940.jpg");
  height: 420px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
  border: 5px double rgba(255, 255, 255, 0.582);
  // line-height: 60vh;
}

.parallax-mobile {
  /* The image used */
  //   background-image: url("src/assets/images/IMG_3940.jpg");
  height: 240px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 30% -10%;
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: fixed;
  border: 5px double rgba(255, 255, 255, 0.582);
  // line-height: 60vh;
}

.text {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  //   line-height: 60vh;
    text-shadow: 3px 3px 10px black;
  font-family: 'Montserrat', 'sans-serif';
  /* min-height: 550px;  */
}

.home-title {
  margin-top: 30vh;
  margin-bottom: 30vh;

  color: white;
  font-size: 25px;
  letter-spacing: 5px;
  text-shadow: 3px 3px 10px black;
  font-family: 'Montserrat', sans-serif;;
  /* min-height: 550px;  */
}
.home-title-mobile {
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: 3px 3px 10px black;
  font-family: 'Montserrat', sans-serif;;
  /* min-height: 550px;  */
}

.web-title {
  margin-top: 5vh;
  margin-bottom: 5vh;

  color: white;
  font-size: 35px;
  letter-spacing: 5px;
  text-shadow: 3px 3px 10px black;
  font-family: 'Montserrat', sans-serif;;
  /* min-height: 550px;  */
}

.img {
  max-width: 100%;
  max-height: 100%;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.circle-title {
  // margin-left: 25%;
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', 'sans-serif';
  letter-spacing: 3px;
  text-shadow: 1px 1px 10px black;


}
.circle-icon {
  margin-top: 0%;
  width: 60%;
  height: 60%;
  line-height: 0;
  margin-bottom:90%;
  position: relative;
}

.circle {
  z-index: 9999;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  line-height: 30vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.267);
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;


  // margin-left: 25%;
  // margin-right: 20%;
  //start click effect
}
.active>div {
  background: #fce99cc7;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  font-size: 52px;
  transition: all 0.4s ease-in;
  span[class^="ion"] {
    position: relative;
  }
  //start click effect
  &:before {
    content: "";
    background-color: aliceblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  &:focus {
    outline: 0;
    color: #fff;
    &:before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

/* animation styles */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fadeInClass {
  animation-name: fadeIn;
  animation-duration: 3s;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.changedImg{
  animation-name: fadeIn;
  animation-duration: 3s;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
  animation-timing-function: linear;
}

.circle:hover {
  animation-name: blink;
  animation-duration: 2s;
  background: #fce99cc7
}
