<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12">
      <div class="parallax text-center fadeInClass" [class.changed-img]="changedImg"
        [ngStyle]="{'background-image': 'url(' + imgPath + ')'}">
        <div class="home-title">
          {{caption}}
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<div class="container-fluid">
  <!-- <div class="row">
    <div style="height:50px"></div>
  </div> -->
  <div class="row h-20">
    <!-- <div class="col">
    </div> -->

    <div class="col-6 col-xs-6 col-sm-3 col-md-3  text-center">
      <!-- <a routerLink="/info/outdoor"> -->
      <a (click)="prodOnClick('outdoor')">

        <div class="circle" [class.active]="activeLookup['outdoor']" (click)="mouseClick('outdoor')"
          (mouseenter)="mouseEnter('outdoor') " (mouseleave)="mouseLeave('outdoor')">
          <img class="circle-icon" src="../assets/images/outdoor_icon.png" alt="">
        </div>
        <p class="circle-title text-center">Outdoor Activities</p>
      </a>
    </div>
    <div class="col-6 col-xs-6 col-sm-3 col-md-3 ">
      <a (click)="prodOnClick('restaurant')">
        <!-- <a routerLink="/info/restaurant"> -->
        <div class="circle" [class.active]="activeLookup['restaurant']" (click)="mouseClick('restaurant')"
          (mouseenter)="mouseEnter('restaurant') " (mouseleave)="mouseLeave('restaurant')">
          <img class="circle-icon" src="../assets/images/restaurant_icon.png" alt="">
        </div>
        <p class="circle-title text-center">Restaurant & Bar</p>
      </a>

    </div>

    <div class="col-6 col-xs-6 col-sm-3 col-md-3 ">
      <a (click)="prodOnClick('spa')">
        <!-- <a routerLink="/info/spa"> -->
        <div class="circle" [class.active]="activeLookup['spa']" (click)="mouseClick('spa')"
          (mouseenter)="mouseEnter('spa') " (mouseleave)="mouseLeave('spa')">
          <img class="circle-icon" src="../assets/images/spa_icon.png" alt="">
        </div>

        <p class="circle-title text-center">Spa & Massage</p>
      </a>

    </div>
    <div class="col-6 col-xs-6 col-sm-3 col-md-3 ">
      <!-- <a routerLink="/info/photo"> -->
      <a (click)="prodOnClick('photo')">
        <div class="circle" [class.active]="activeLookup['photo']" (click)="mouseClick('photo')"
          (mouseenter)="mouseEnter('photo') " (mouseleave)="mouseLeave('photo')">
          <img class="circle-icon" src="../assets/images/photo_icon.png" alt="">
        </div>
        <p class="circle-title text-center">Photo Spots</p>
      </a>

    </div>
  </div>
  <br>
  <div class='text-center'>
    <h1 class="web-title">Sky Swing Bali</h1>
  </div>
  <div class="row" *ngIf="showIntro">
    <div class="col text text-center">
      <br>
      Bali's SkySwing is the best place to find fun challenges and adventures outdoor.
      Enjoy Bali from a different perspective by getting on our hot-air balloon and swing or explore Bali's traditional
      villages firsthand,
      you can find all you need at SkySwing Bali.
      You could also relax and unwind by treating yourself in our Spa & Massage center.
      Make your day even more special at SkySwing's restaurant by the paddy field.
      Satisfy your palate by enjoying our special dishes in our restaurant prepared specially by our chef.
      <br><br>
      Get the best out of Bali by spending your holiday at SkySwing!

      <br><br>
    </div>
  </div>

</div>